.input {
    padding: 10px 0;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    font-size: 50px;
    width: 250px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
