.title {
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 46px;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buttonWrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.button {
    width: 250px !important;
}

.circle {
    border: 3px solid #fff;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: inset 0 0 20px #00000075;
}
