* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1d0b3d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    color: #fff;
}
